@page
@model WebRazorTest.Pages.AddModel
@{
}


<form method="post">
    <label for="fname">Kitap İsmi:</label>
    <input type="text" id="title" name="Model.Book.Title"><br><br>
    <input type="submit" value="Submit">
</form>
