@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kitap Otomasyonu</h1>
    <p>Hoş Geldiniz <a href="#">Tıklamayın.</a>.</p>
</div>
