@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Store";
}
<div class="container text-center">
    <h1 class="display-4">^^PIZZA DEMO^^</h1>
    <a asp-page="PizzaSale">Pizza Sale</a>

    <div class="container w-80">
        <img src="~/img/pizza-time-logo.jpg" />
    </div>
</div>
