@page
@model WebRazorTest.Pages.RazorTestSayfaModel
@{

}
<div class="container>">

    <div class="">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="color:darkred">id</th>
                    <th style="color:darkred">Title</th>
                    <th style="color:darkred">Author</th>
                    <th style="color:darkred">&nbsp Detaails</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <th>@item.id</th>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <th>
                            <a href="BookList?id=@(item.id-1)" class="btn btn-secondary" target="_blank">Details</a>
                        </th>
                    </tr>
                }


            </tbody>

        </table>
    
    </div>

    <div class="">
        <a>
            <a href="/ADD" class="btn btn-secondary"">ADD</a>
        </a>
    </div>

</div>