@page
@model WebRazorTest.Pages.Customers.CreateModel
@{
}

<h1 style="color:darkred">Create</h1>


<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="@Model.Customer!.Name" />@* ! = customer null değilse işlemi yapıyor ?? gibi kullanılıyor*@
    <input type="submit" />
</form>

<a style="color:black" asp-page="index">Back</a>
