@page
@model WebRazorTest.Pages.Customers.NewFolder.EditModel
@{
}


<h1 style="color:darkred">EDIT</h1>



<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer!.Id" /> @*hidden sakılı olarak custormer id saklıyoruz*@@**@
            <div class="form-group">
                <label asp-for="Customer!.Name" class="control-label"></label> @*Veritabanından alınan kolonun adı ne ise onun adını yazar*@
                <input asp-for="Customer!.Name" class="form-control" /> @*Veritabanında ki namemi alıyoruz*@
                <span asp-validation-for="Customer!.Name" class="text-danger"></span>
            </div> <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<a style="color:black" asp-page="index">Back</a>
